.btn {
  display: inline-block;
  background-color: $button-background;
  padding: .1em 1em;
  text-align: center;
  border-radius: 5px;
}

.btn__link {
  text-decoration: none;
  color: $font-white;
}
