.header li {
  display: inline-block;
}

.header a {
  color: $font-secondary;
  text-decoration: none;
  padding: 10px;
}

.logo{
  font-size: 24px;
  font-weight: 900;
  color: $font-white;
}

.hero h1 {
  font-size: 48px;
  font-weight: 800;
  color: $font-white;
  margin-bottom: 0;
}

.hero_text p {
  color: $font-secondary;
  margin-top: 0;
}
